<h4>Dealer Hand (<%= session[:dealer_hand].length %>):</h4>

<% if session[:player_turn] %>
  <img src="images/cards/cover.jpg">
  <%= show_dealer_image(session[:dealer_hand]) %>
<% else %>
  <%= show_all_image(session[:dealer_hand]) %>
  <h5>Dealer has a value of: <%= calculate_value(session[:dealer_hand]) %></h5>
<% end %>

<% if @dealer_hit %>
  <p4>The dealer has less than 17.</p4>
  <a href='/dealer_hit' class='btn btn-primary'>Show dealer's next hit</a>
<% end %>

<hr>
<h4><%= session[:player_name] %>'s Hand (<%= session[:player_hand].length %>):</h4>
<%= show_all_image(session[:player_hand]) %>
<h5><%= session[:player_name] %> has a value of: <%= calculate_value(session[:player_hand]) %></h5>
<hr>
<h5><%= session[:player_name] %>'s pot: $<%= session[:old_pot] %></br><%= session[:player_name] %>'s bet: $<%= session[:player_bet] %>.</h5>
</br>

<% if @hit_or_stay %>
  <a href='/hit' class='btn btn-success'>Hit!</a>
  <a href='/stay' class='btn btn-warning'>Stay!</a>
<% end %>

<% if @play_again %>
  <h4><%= session[:player_name] %> has $<%= session[:player_pot] %></h4>
  <h3><%= @message %></h3>
  <h4>Play again?</h4>
  <a href='/game' class='btn btn-success'>Yes</a>
  <a href='/bye' class='btn btn-warning'>No</a>
<% end %>
