<!-- Dealer hand and hidden card-->
<h4>Dealer Hand (2):</h4>
<img src="images/cards/cover.jpg">
<%= show_dealer_image(session[:dealer_hand]) %>
<hr>

<!-- Player hand and value -->
<h4><%= session[:player_name] %>'s Hand (<%= session[:player_hand].length %>):</h4>
<% session[:player_hand].each do |card| %>
  <%= show_one_image(card) %>
<% end %>
<h5><%= session[:player_name] %> has a value of: <%= calculate_value(session[:player_hand]) %></h5>
<hr>

<!-- Player pot and bet -->
<h5><%= session[:player_name] %>'s pot: $<%= session[:player_pot] %></br><%= session[:player_name] %>'s bet: $<%= session[:player_bet] %>.</h5>
</br>

<% if calculate_value(session[:player_hand]) == 21 %>
  <h3>Blackjack! <%= session[:player_name] %> wins!</h3>
  <% session[:player_pot] += session[:player_bet] %>
  <h4><%= session[:player_name] %> has $<%= session[:player_pot] %></h4>
  <hr>
  <h4>Play again?</h4>
  <a href='/game' class='btn btn-success'>Yes</a>
  <a href='/bye' class='btn btn-warning'>No</a>
<% elsif calculate_value(session[:player_hand]) > 21 %>
  <h3><%= session[:player_name] %> busts! <%= session[:player_name] %> loses.</h3>
  <% session[:player_pot] -= session[:player_bet] %>
  <h4><%= session[:player_name] %> has $<%= session[:player_pot] %></h4>
  <hr>
  <h4>Play again?</h4>
  <a href='/game' class='btn btn-success'>Yes</a>
  <a href='/bye' class='btn btn-warning'>No</a>
<% else %>
  <a href='/hit' class='btn btn-success'>Hit!</a>
  <a href='/stay' class='btn btn-warning'>Stay!</a>
  <!-- <form action='/stay' method='post'>
    <input type='submit' class='btn btn-warning' value='Stay!'>
  </form> -->
<% end %>
