<div id='game' class='row'>
  <div class="col-md-8 col-md-offset-2">

    <h1>Current <span class='highlight'>Bet</span>: $<%= session[:player_bet] %>.</h1>
    <hr>

    <% if session[:player_turn] %>

      <h4>Dealer's Hand ( <span class='highlight'>X</span> ):</h4>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <img class="card" src="images/cardset/cover.png">
          <%= show_dealer_image(session[:dealer_hand]) %>
        </div>
      </div>

    <% else %>

      <h4>Dealer's Hand ( <span class='highlight'><%= calculate_value(session[:dealer_hand]) %></span> ):</h4>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <%= show_all_image(session[:dealer_hand]) %>
        </div>
      </div>

    <% end %>

    <hr>
    <h4><%= session[:player_name] %>'s Hand ( <span class='highlight'><%= calculate_value(session[:player_hand]) %></span> ):</h4>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <%= show_all_image(session[:player_hand]) %>
      </div>
    </div>
    <hr>


    <% if @hit_or_stay %>
      <h3>Pick your poison:</h3>
      <a id='hit' href='/hit' class='btn btn-danger'>Hit</a>
      <a id='stay' href='/stay' class='btn btn-warning'>Stay</a>
    <% end %>

    <% if @play_again %>
      <h3><%= @message %></h3>
      <a href='/game' class='btn btn-danger'>Deal again</a>
      <a href='/bye' class='btn btn-warning'>Leave</a>
    <% end %>

    <% if @dealer_hit %>
      <h3>Dealer below 17:</h3>
      <a id='dealer' href='/dealer_hit' class='btn btn-warning'>Dealer hits</a>
    <% end %>

  </div>
</div>
